@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');

body {
    background: url('../images/depressionRose2.jpg');
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
a {
    text-decoration: none;
}
#title {
    margin-top: 15%;
    margin-bottom:15%;
    margin-left:20%;
    margin-right:20%;
}
#title h1 {
    font-size: 10vw;
    line-height: 0.9;
    font-weight: 400;
    font-family: 'East Sea Dokdo', cursive, 'Black Han Sans', sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
}
#title h1 span {
    color:white;
    opacity: 0;
    display: inline-block;
}

// MiddleSections.jsx
.middleSections {
    margin-top:30%;
}

// Header.jsx
#header-wrapper {
    position: fixed;
    z-index: 999;
    top: 20%;
    right: 50px;
    transform: translate(-60%,-50%);
}
#header-wrapper #header{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#header-wrapper #header{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#header-wrapper #header li {
    margin-bottom:15px;
}
#header-wrapper #header .menu{
    font-size: 24px;
    color: #b5b5b5;
    font-weight: 700;
    min-width: 200px;
}
.middleSections div {
    background-color: #ebebeb;
    opacity:0.8;

}
.middleSections div h1 {
    font-family: 'Sansita Swashed', cursive;
    margin-left: 1.5%;
    margin-bottom: 1.3em;
    padding-top: 0.7%;

}
.middleSections div ul {
    font-size:0;
    list-style-type: none;
    margin-left:1%;
    margin-top:20px;
}
.middleSections div ul li {
    margin-bottom:30px;
}